<div class="ChatroomHead">
  <div class="ChatroomHeadName"><%= @room.name %></div>
  <div class="ChatroomHeadExit"><%= link_to 'チャットを終了する', room_path(@room.id), method: :delete %></div>  
</div>
<div class="ChatroomRoom">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: 'ChatroomForm', local: true do |f| %>
  <div class="ChatroomFormInput">
    <%= f.text_field :content, class: 'ChatroomFormInputMessage', placeholder: 'type a message' %>
    <label class="ChatroomFormInputImage">
      <span class="ChatroomFormInputImageFile">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'ChatroomFormInputSubmit' %>
<% end %>